{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css')}}" />
<div className="searchBar">
    <form method="post" action="/search">
        <div class="search-wrapper">
            <label for="playerSearch" class="label">Search</label>
            <input
            type="text"
            id="searchBar" 
            placeholder="Gamename#Tagline"
            name="playerSearch" 
            list="playerSuggestions" 
            oninput="updatePlayerSuggestions(this.value)"/>
            <div id="suggestions">
                
            </div>
        </div>
        <button type="submit" class="searchbar-btn">Search</button>
    </form>
</div>
<script>
    
    // Example data: player names with associated links
    const players = {{playersId|tojson}}

    const suggestionsBox = document.getElementById('suggestions');
    function updatePlayerSuggestions(query1) {

        const query = query1.toLowerCase();
        suggestionsBox.innerHTML = ''; // Clear previous suggestions

        if (query) {
            const filteredPlayers = players.filter(player => `${player.gameName}#${player.tagLine}`.toLowerCase().includes(query));
            filteredPlayers.forEach(player => {
                const item = document.createElement('div');
                item.className = 'suggestion-item';
                item.innerHTML = `<a href="http://127.0.0.1:5000/match/${player.gameName}/${player.tagLine}"><div class="inner"><img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/profile-icons/${player.profileIconId}.jpg" width="36" height="36">${player.gameName}#${player.tagLine}</div></a>`;
                suggestionsBox.appendChild(item);
            });
        }
    };

    // Hide suggestions when clicking outside
    document.addEventListener('click', function(event) {
        if (!searchBar.contains(event.target) && !suggestionsBox.contains(event.target)) {
            suggestionsBox.innerHTML = '';
        }
    });
</script>
{% endblock %}