{% extends "base.html" %} {% block title %}Matchup{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='matchups.css')}}" />
    <form method="POST">
        <div id="container">
            <div class="row">
                <div>
                    <label for="champ2">Enemy Champion</label><br>
                    <input type="text" name="champ2">
                </div>
                <div>
                    <input type="submit" value="AI Recommend" class="btn">
                </div>
            </div>
        </div>
    </form>
    
    {% if resultsWR %}
    <h1>{{resultsWR[0]}} : {{resultsChamps[0]}}</h1>
    <h1>{{resultsWR[1]}} : {{resultsChamps[1]}}</h1>
    <h1>{{resultsWR[2]}} : {{resultsChamps[2]}}</h1>
    {% endif %}
{% endblock %}