{% extends "base.html" %} {% block title %}Matchup{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='matchups.css')}}" />
    <form method="POST">
        <div id="container">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div>
                            <label for="champ1">RedTeam</label><br>
                            <input type="text" name="champ1">
                        </div>
                    </div>
                    <div class="col">
                        <div>
                            <label for="champ2">BlueTeam</label><br>
                            <input type="text" name="champ2">
                        </div>
                      </div>
                </div>
                <div class="col">
                    <input type="submit" value="AI Predict" class="btn">
                </div>
            </div>
    </form>
    <div>
        {% if warning %}
        <h2>{{warning}}</h1>
        {% endif %}
        {% if results %}
        <span>{{champ1}}</span>
        vs
        <span>{{champ2}}</span>
        <h2>{{results|round(2)}}% probability of winning</h1>
        {% endif %}
    </div>
{% endblock %}