{% extends "base.html" %} {% block title %}Leaderboards{% endblock %}
{% block content %}
<style>
    .no-style-link {
        color: inherit; /* Inherit the color from the parent element */
        text-decoration: none; /* Remove the underline */
    }
    .background{
        background-color: aliceblue;
    }
    .dt-orderable-asc, .dt-orderable-desc, .dt-orderable-none{
        background-color: rgb(187, 197, 197);
    }
    table.dataTable td.dt-type-numeric{
        text-align: left;
    }

</style>
<div class="background">
    <table id="myTable" class="compact">
        <thead>
            <tr>
                <td width="5%"><strong>Rank</strong></td>
                <td width="50%"><strong>Summoner</strong></td>
                <td width="10%"><strong>Level</strong></td>
                <td width="10%"><strong>LP</strong></td>
                <td width="20%"><strong>Win Rate</strong></td>
            </tr>
        </thead>
        <tbody>
            {% if leaderboard %}
            {% for index, player in leaderboard %}
            <tr>
                <td>#{{index}}</td>
                <td><a href="/match/{{player.summonerGameName}}/{{player.summonerTagLine}}" class="no-style-link">
                    <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/profile-icons/{{player.profileIconId}}.jpg"
                    width="28" height="28">
                    {{player.summonerGameName}}#{{player.summonerTagLine}}
                    </a>
                </td>
                <td>{{player.summonerLevel}}</td>
                <td>{{player.leaguePoints}}</td>
                <td>
                    {{player.win_rate}} <span>{{player.winloss}}</span></td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
<script>
$(document).ready(function() {
    $('#myTable').DataTable({
        scrollY: 750,
        paging: false,
        columnDefs: [{ orderable: false, targets: 0 }],
        order: [[3, 'desc']]
    });
});
</script>
{% endblock %}