{% extends "base.html" %} {% block title %}Matchup{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='matchups.css')}}" />
<div id="main">
    <div class="row">
        <div>
            <a href="/ai/lane_matchup">Lane Matchup predictor</a>
        </div>
        <div>
            <a href="/ai/lane_matchup_rec">Lane Matchup Recommender</a>
        </div>
        <div>
            <a href="/ai/team_matchup">Team Vs Team Matchup predictor</a>
        </div>
    </div>
{% endblock %}
